[Unit]
Description=Control Software for HiCIBaS
[Service]
Type=simple
EnvironmentFile=/etc/systemd/system/hicibas2.env
ExecStart=/opt/HiCIBaS/bin/HiCIBaS
User=hicibas2
Group=hicibas2
Restart=always
[Install]
WantedBy=multi-user.target
